// primary
$color_primary: #827e78;
$color_primary_dark: #221c13;
$color_menu: #231f20;
// secondary
$color_secondary: #d5873b;
$color_placeholder: #f6f4f1;

@mixin inner() {
  width: 1919px;
  max-width: 100%;
  margin: auto;
}
