// primary
$color_primary: #827E78;
$color_primary_dark: #221C13;
$color_menu:#231F20;
// secondary
$color_secondary: #D5873B;
$color_placeholder:#F6F4F1;

@mixin inner() {
    width: 1919px;
    max-width: 100%;
    margin: auto;
  }
  
