// primary
$color_primary_25: #f2f2f4;
$color_primary_50: #e6e6e8;
$color_primary_75: #d9d9dd;
$color_primary_100: #ccccd2;
$color_primary_200: #b3b3bb;
$color_primary_300: #9999a4;
$color_primary_400: #80808d;
$color_primary_500: #666677;
$color_primary_600: #4d4d60;
$color_primary_700: #333349;
$color_primary_800: #1a1a33;
$color_primary_900: #00001c;

// secondary
$color_secondary_25: #fffbe9;
$color_secondary_50: #fff7d4;
$color_secondary_75: #fff2be;
$color_secondary_100: #ffeea9;
$color_secondary_200: #ffea93;
$color_secondary_300: #ffe67d;
$color_secondary_400: #ffe268;
$color_secondary_500: #ffd527;
$color_secondary_600: #ccaa1f;
$color_secondary_700: #998017;
$color_secondary_800: #806a13;
$color_secondary_900: #665510;