@import "../../../styles/var.scss";

.button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6%;
    text-transform: uppercase;
    
}

.primary {
    color: white;
    background-color: $color_menu;
    border: 1px solid $color_secondary; 
}

.secondary {
    color: white;
    background-color: $color_primary_dark;
    border: none;
    border: 2px solid $color_secondary;
}

.light {
    color: $color_primary_dark;
    background-color: white;
    border: none;
}
// Variants
.default {
    background-color: $color_secondary;
    border: none;
    color: white;

    &:focus {
        border-color: $color_secondary;
        box-shadow: 0 0 0 3px rgba(213, 135, 59, 0.1);
    }

}
