@import "../../../styles/var.scss";

.item {
  .imageCont {
    position: relative;
    width: 100%;

    .image {
      height: auto;
      width: 100%;
    }

    .addToCartOverlay {
      position: absolute;
      bottom: 25px;
      right: 25px;
      z-index: 10;

      .addToCartButton {
        // Override any default styles if needed
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
    .title {
      font-family: Mardoto;
      font-weight: 400;
      font-style: Regular;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      color: $color_primary_dark;
      margin-bottom: 12px;
    }

    .productInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;

      .volume {
        font-family: Mardoto;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        color: $color_primary;
        flex: 1;
      }
    }
  }
}
